.div1{
    background-color: aliceblue;
    width: 100%;
    height: 50px;
}
.div1 p{
    float: left;
    margin-left: 100px
}
.div2{
    width: 100%;
    height: 4px;
    background-color: rgb(211, 213, 214);
}
.div3 p{
    font-size: 12px;
}
.div3 div{
    margin-left: 102px
}
