<div class="div1">
  <p style="margin-left: 200px;"> About MSL</p> <p>	Our Courses </p>	<p>Our Team</p>	<p>Contact us</p>
</div>
<div class="div2"></div>
<div class="div3">
  <div style="float:left;margin-left: 200px;">
      <p>About Chairman</p>
      <p>About Director</p>
      <p >Our Vision</p>
    </div>
    <div style="float:left">
      <p>Courses</p>
      <p>Downloads</p>
      <p>Online Results</p>
    </div>
    <div style="float:left">
        <p>Channel Partners</p>
        <p>MSL Team</p>
        <p>Contact us</p>
    </div>
    <div style="float:left">
      <p>70-H Block, Pragati Tower, First Floor<br> 
          Near SBBJ Bank, Sri Ganganagar - 335001 <br>
          Mob:+91 99289-91333, 98282-09003,<br>
          Ph: 0154-2486333 <br>
          Mail Us: mslindia.in@gmail.com, mslbest.in@gmail.com</p>
    </div>
</div>
