<div>
    <div class="MSLTeam">
        <h2>MSL Team - Chairman Message</h2>
    </div>
    <div class="div1">
        Best Quotes
        <p>Education is an admirable thing, but it is well to remember from time to time that nothing that is worth knowing can be taught.</p>
    </div>
    <div class="div2">
      <img src="../../assets/karan.jpg" alt="karan"><br>
      Mr. Karan Munjal <br> Chairman
      <p>MSL College of IT & Management is an acknowledged institution in learning content development and the application of IT to enhance learning. We believe in quality but not in quantity. We provide good quality computer education to our students in such a way that wherever they go they make a distinctive difference in the field of computers.</p><br><br>
      <p>Computers have become an important part in homes, businesses and the society. In today’s life computers have become a crucial part. Students benefit from using them as tools and resources for gathering information. Teachers use them as tools as well, to help gather student achievement data, or compile teaching activities and resources for their students. Computers are essential tools for productive and successful students. Computers are simply wonderful machines and everyone depends on it in one way or the other. MSL College ensure that student may learn more and more and can become self motivated. We pride ourselves in our unique teaching methods and learning environment which give to our student’s practical, hands-on knowledge, skills and attitudes. I wish great success and bright future to my students and hope for their better tomorrow.</p><br><br>
      <p>The aim of MSL College is to provide the World class computer education to the students and to train them and make them capable enough to use technology for the progress of mankind. Our main aim is to develop the technical skills in the students so that they will lead their companies successfully. The Courses offered by MSL College prepare students for a wide range of careers.The main objective behind the establishment of MSL College institution is to spread the computer literacy to all over the country. By this computer literacy program, we ensure that student may learn more and more and can become self motivated.</p>
    </div>
  </div>