<div>
    <div class="MSLTeam">
        <h2>
            Distance Education</h2>
    </div>
    <div class="div1">
        Best Quotes
        <p>Education is an admirable thing, but it is well to remember from time to time that nothing that is worth knowing can be taught.</p>
    </div>
    <div class="div2">
      <h1>Maharaj vinayak Global</h1>
      <p>UGC, Bar Council Approved</p>
      <img src="../../assets/290892393_mvgu (2).png" alt="karan"><br>
      <p>MSL COLLEGE Also Working With Maharaj Vinayak Global University, Specially for P.H.D & L.L.B Cases, MVS is a unique organization and is embarking upon a promising venture, dedicated to making the coming years as rich and productive as it’s past while ensuring that our students are trained, our faculty serves and patients receive care. Our goal is to lead the efforts and set the standards for excellence in these endeavours. Indeed the progress has been commendable with great initiative and aptitude and I wish the MVS success in all their future enterprises.</p><br><br>
      <p>Today it has transformed into a university within a short span of 14 years. From the session 2012-13 onwards, the university will be adding many courses i.e. B.A. L.L.B. Integrated, M.B.A., M.C.A., Information Technology and Computer Science, Master of Physiotherapy and Master of Occupational Therapy, Biotechnology, Law, Aviation and degree courses etc.</p><br><br>
    </div>
  </div>