<div>
    <div class="MSLTeam">
        <h2>MSL Team - Director Message</h2>
    </div>
    <div class="div1">
        Best Quotes
        <p>Education is an admirable thing, but it is well to remember from time to time that nothing that is worth knowing can be taught.</p>
    </div>
    <div class="div2">
      <img src="../../assets/neelkanth.jpg" alt="karan"><br>
      Mr. Neelkanth Munjal<br>Director
      <p>It is with great pleasure to welcome you to our website. In this millennium the Computer Education has taken the key and premier role in the professional studies and excellence. In today’s life if you want to get success then you must have knowledge of computer along with your academic qualifications. If you want to get the quality computer education then you must join the MSL College of IT & Management.</p><br><br>
      <p>The technology has been changing very fast. Today, new packages, newer versions of current software and new technological tools are being adopted by the trade and industry periodically. The education therefore, must catch up with these developments well in time so that graduating students do not face the problem of obsolescence.We feel the underlying concepts of new technology and tools along with reasonable skills be delivered to the students before they go out in the industry. Thus in a very fast changing technical scenario,concept based education becomes quite important as	against tool based education.</p><br><br>
      <p>Technological changes also demand that institutions must consider the market scenario, and adjust the contents and delivery of education matching the expectations of the business houses. In the process, the boundaries of prescribed curricula may have to be crossed. Our team at MSL College, continuously strives to accord due importance to state-of-the-art concepts of the technology and for that it does not hesitate to go beyond the syllabus, if so required.</p>
    </div>
  </div>